<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Denúncia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>Faça uma Nova Denúncia</h1>
        </div>

        <div class="box">
            <form method="POST" class="formulario">
                {% csrf_token %}
                <label for="titulo">Título:</label><br>
                <input type="titulo" id="titulo" name="titulo" required><br><br>
                <label for="descricao">Escreva sua denúncia aqui:</label><br>
                <textarea id="descricao" name="descricao" required></textarea><br><br>
                <label for="senha">Escreva a senha para visualizar usa denúncia:</label><br>
                <input type="senha" id="senha" name="senha" required><br><br>
                <button type="submit" class="azul">Enviar</button>
            </form>
            <p><a class="azul" href="{% url 'home' %}">Página inicial</a></p>
        </div>

    </div>

</body>
</html>